.row:after {
    content: "";
    display: table;
    clear: both;
}

.text:hover {
    color: #1779ba;
    cursor: pointer;
}

.text {
    padding-left: 50px;
    float: left;
    font-weight: bolder;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #4ac0e0;
}

button {
    margin: 100px;
}

.button:hover {
    background-color: white;
    color: #4ac0e0;
}

h1 {
    font-size: 50px;
    line-height: 1;
}

.row3 {
    background-image: url(lenovoimages/11.png);
    width: 100%;
    height: 800px;
}

.myclass {
    float: left;
    width: 50%;
    height: 700PX;
    border: 0px solid;
    color: white;
    margin-left: 50px;
    margin-top: 100px;
}

.SECOND {
    height: 400px;
    color: white;
}

.IMAGE1 {
    float: left;
    width: 23%;
    border: 1px solid;
    color: white;
}

.IMAGE2 {
    float: left;
    width: 22.5%;
    border: 1px solid;
    color: white;
}

.IMAGE3 {
    float: left;
    width: 23%;
    border: 1px solid;
    color: white;
    text-align: center;
}

.IMAGE4 {
    float: left;
    width: 22.5%;
    border: 1px solid;
    color: white;
    text-align: center;
}

.IMAGE1:hover {
    background-image: url(lenovoimages/12.webp);
    cursor: pointer;
}

.IMAGE2:hover {
    background-image: url(lenovoimages/13.webp);
    cursor: pointer;
}

.IMAGE3:hover {
    background-image: url(lenovoimages/14.webp);
    cursor: pointer;
}

.IMAGE4:hover {
    background-image: url(lenovoimages/15.webp);
    cursor: pointer;
}

span {
    position: absolute;
    bottom: 200px;
    right: 470px;
}

.bing {
    position: absolute;
    bottom: 200px;
    right: 150px;
}

.ting {
    position: absolute;
    bottom: 80px;
    right: 450px;
}

.ding {
    position: absolute;
    bottom: 80px;
    right: 100px;
}

.me {
    float: left;
    margin-right: 850px;
    margin-left: 50px;
}

.text1:hover {
    color: #1779ba;
    cursor: pointer;
}

.text1 {
    padding-left: 92px;
    float: left;
    font-weight: bolder;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    background-color: #bbb;
}

.text2:hover {
    color: #1779ba;
    cursor: pointer;
}

.text2 {
    padding-left: 9px;
    float: left;
    font-weight: 530;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    background-color: #bbb;
}